@font-face {
    font-family: 'edmondsansbold';
    src: url('../fonts/Edmondsans/edmondsans-bold-webfont.eot');
    src: url('../fonts/Edmondsans/edmondsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Edmondsans/edmondsans-bold-webfont.woff') format('woff'),
         url('../fonts/Edmondsans/edmondsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/Edmondsans/edmondsans-bold-webfont.svg#edmondsansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'edmondsansmedium';
    src: url('../fonts/Edmondsans/edmondsans-medium-webfont.eot');
    src: url('../fonts/Edmondsans/edmondsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Edmondsans/edmondsans-medium-webfont.woff') format('woff'),
         url('../fonts/Edmondsans/edmondsans-medium-webfont.ttf') format('truetype'),
         url('../fonts/Edmondsans/edmondsans-medium-webfont.svg#edmondsansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'edmondsansregular';
    src: url('../fonts/Edmondsans/edmondsans-regular-webfont.eot');
    src: url('../fonts/Edmondsans/edmondsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Edmondsans/edmondsans-regular-webfont.woff') format('woff'),
         url('../fonts/Edmondsans/edmondsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/Edmondsans/edmondsans-regular-webfont.svg#edmondsansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	font-family: "edmondsansregular";
}

body, html{
	margin: 0px;
	padding: 0px;
}

.left{
	width: 50%;
}

.right{
	width: 50%;
}